.jqDropZone {
  margin-top:5em;
  background: none;
  border:1px solid grey;
  width:30%;
  padding:5em;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-weight: bold;
}
.jqDropZone.in {
  width: 600px;
  height: 200px;
  line-height: 200px;
  font-size: larger;
}
.jqDropZone.hover {
  background:grey;
}
.jqDropZone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}


.header{
  text-align:center;
}
.footer{
  height:5em;
  margin-top:3em;
  text-align:center;
}

.result{
  width:30%;
  padding:5em;
  margin-left:auto;
  margin-right:auto;
}
.tesseract{
  text-transform:uppercase ;
  text-decoration:none ;
  font-family:"HelveticaNeue-Medium", sans-serif ;
  font-size:14px ;
  display: inline-block;
  transform : scale(1,1.5);
  -webkit-transform:scale(2,1.5); /* Safari and Chrome */
  -moz-transform:scale(1,1.5); /* Firefox */
  -ms-transform:scale(1,1.5); /* IE 9+ */
  -o-transform:scale(1,1.5); /* Opera */
  letter-spacing: 0.3em;
}
